<a href="https://colab.research.google.com/github/kullugulia/datasciencecoursera/blob/master/Python_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basics

In [ ]:
print("Hello World !")

Hello World !

In [ ]:
# This is a comment

Python Keywords

Python Identifiers

Name given to:-

*   Variable
*   Function
*   Class

In [ ]:
my_name = 'John Doe'

identifier names are case sensitive

In [ ]:
my_Name = "Jane Smith"

 special symbols like !, @, #, $, %, etc can't be used

In [ ]:
first_name, last_name = "John", "Smith"

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass

Basic Calculations in Python

In [ ]:
print(1 + 1)

print(5 - 2)

print(3 * 4)

print(42 / 6)

print(51 % 7)

print(8 ** 2)

2
3
12
7.0
2
64

Different Operators: 


*   Assignment: `=`
*   Equals: `==`
*   addition: `+`
*   subtraction: `-`
*   division: `/`
*   multiplication: `*`
*   exponentiation: `**`
*   modulus: `%`
*   floor division: `//`

Datatypes

Numeric Data:


*   int 
*   float

In [ ]:
fiver = 5

fivePoint = 5.1

Lists

In [ ]:
heights = [174, 172, 172, 171, 167]

Tuples

In [ ]:
coord = (19.044944855768215, 72.91247863304403)

In [ ]:
coord[0]

19.044944855768215

Sets

In [ ]:
heights_set = {174, 172, 172, 171, 167}
heights_set

{167, 171, 172, 174}

Dictionary

In [ ]:
this_dict = {"John": 174, "Jane": 172, "Nick Fury": 180}

Literals:


*   Numeric Literals
*   String Literals
*   Boolean Literals

Conditional Statements

In [ ]:
for height in heights:
  print(height, 'cm')

174 cm
172 cm
172 cm
171 cm
167 cm

In [ ]:
for h in heights:
  if h > 171:
    print(h)

174
172
172

In [ ]:
for h in heights:
  if h <= 171:
    print(h)

171
167

Functions

In [ ]:
def add_height(x):